services:
  orders:
    build:
      context: .
      dockerfile: ./apps/orders/Dockerfile
      target: development
    command: npm run start:dev orders
    env_file:
      - ./apps/orders/.env
    depends_on:
      - mongodb
      - rabbitmq
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - '3000:3000'
  rabbitmq:
    image: rabbitmq:4.1.6-management-alpine
    ports:
      - '5672:5672'
  mongodb:
    image: mongodb/mongodb-enterprise-server:7.0-ubi8
    container_name: mongo-enterprise
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: password123
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: